.sc-button {
  display: flex;
  font-size: 45px;
  border-radius: 15px;
  background-color: rgb(25, 118, 210);
  border: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  > .sc-ripple {
    position: absolute;
    display: block;
    background: #63a4ff;
    width: 25px;
    height: 25px;
    border-radius: 9999px;
    opacity: 1;
    animation: 1.5s ease 1 forwards ripple-animation;
  }

  @keyframes ripple-animation {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(20);
      opacity: 0.25;
    }
    100% {
      transform: scale(50);
      opacity: 0;
    }
  }

  .sc-button-label {
    padding: 15px;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;
  }
}
